$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$page-color: #3b465e;
$font-color: #dfdfdf;
$white: #fff;
$top-margin: 5%;
$side-margin: 15%;
$row-height: 200px;
$row-width: 600px;
$box-width: 200px;
$player-color: #388e3c;

body {
  background-color: $page-color;
  color: $font-color;
}

.box {
  background-color: #bdbdbd;
  border: 1px solid $white;
  color: $player-color;
  display: inline-block;
  font-size: 130px;
  height: 200px;
  width: 200px;
}

.gameBoard {
  height: 600px;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 600px;
}

h2 {
  text-align: center;
}

.row {
  background-color: #bdbdbd;
  height: $row-height;
  width: $row-width;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

legend {
  color: $font-color;
  font-size: 16px;
}
