$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './styles';

$page-color: #3b465e;
$font-color: #dfdfdf;
$white: #fff;
$top-margin: 5%;
$side-margin: 15%;
$row-height: 200px;
$row-width: 600px;
$box-width: 200px;

body {
  background-color: $page-color;
  color: $font-color;
}

.box {
  border: 1px solid $white;
  height: $box-width;
  text-align: center;
  width: $box-width;
}

h2 {
  text-align: center;
}

.gameBoard {
  height: 600px;
  margin: $top-margin $side-margin;
  text-align: center;
  width: $row-width;
}

.row {
  background-color: #bdbdbd;
  height: $row-height;
  width: $row-width;
}

form {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
